@using BlueRaven.Web.Models;
@using BlueRaven.Data.Domain;
@using BlueRaven.Web.ViewComponents;

@model PagedPosts;

@{
    ViewData["Title"] = @Model.Blog.Title;
}

<section>
	@await Component.InvokeAsync(typeof(BlogListViewComponent), new {posts = Model})
</section>

