@using BlueRaven.Web.Models;

@model BlogModel

@section Styles {
	<link rel="stylesheet" href="~/prism.css">
}

<section>
	@await Component.InvokeAsync("Post", new {post = Model.Post})
</section>

@section Scripts {
	<script src="~/prism.js"></script>
}