$color-primary-0: #aa3939; // Main Primary color */
$color-primary-1: #ffaaaa;
$color-primary-2: #d46a6a;
$color-primary-3: #801515;
$color-primary-4: #550000;

$color-secondary-1-0: #aa6c39; // Main Secondary color (1) */
$color-secondary-1-1: #ffd1aa;
$color-secondary-1-2: #d49a6a;
$color-secondary-1-3: #804515;
$color-secondary-1-4: #552700;

$color-secondary-2-0: #226666; // Main Secondary color (2) */
$color-secondary-2-1: #669999;
$color-secondary-2-2: #407f7f;
$color-secondary-2-3: #0d4d4d;
$color-secondary-2-4: #003333;

$color-complement-0: #2d882d; // Main Complement color */
$color-complement-1: #88cc88;
$color-complement-2: #55aa55;
$color-complement-3: #116611;
$color-complement-4: #004400;

$white-alpha-05: rgba(255, 255, 255, 0.05);
$white-alpha-10: rgba(255, 255, 255, 0.1);
$white-alpha-15: rgba(255, 255, 255, 0.15);
$white-alpha-20: rgba(255, 255, 255, 0.2);
$white-alpha-25: rgba(255, 255, 255, 0.25);
$white-alpha-30: rgba(255, 255, 255, 0.3);
$white-alpha-35: rgba(255, 255, 255, 0.35);
$white-alpha-40: rgba(255, 255, 255, 0.4);
$white-alpha-45: rgba(255, 255, 255, 0.45);
$white-alpha-50: rgba(255, 255, 255, 0.5);
$white-alpha-55: rgba(255, 255, 255, 0.55);
$white-alpha-60: rgba(255, 255, 255, 0.6);
$white-alpha-65: rgba(255, 255, 255, 0.65);
$white-alpha-70: rgba(255, 255, 255, 0.7);
$white-alpha-75: rgba(255, 255, 255, 0.75);
$white-alpha-80: rgba(255, 255, 255, 0.8);
$white-alpha-85: rgba(255, 255, 255, 0.85);
$white-alpha-90: rgba(255, 255, 255, 0.9);
$white-alpha-95: rgba(255, 255, 255, 0.95);

$black-alpha-05: rgba(0, 0, 0, 0.5);

%primary-colors {
	background: #202020;
	color: $color-secondary-1-1;
}

%secondary-colors {
	background: $color-primary-0;
	color: $color-secondary-1-1;
}
