@import '_variables';
@import '_spacing';
@import '_prism';
@import '_dateIcon';

body {
	@extend %primary-colors;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background: url('/assets/img/rbg4.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

main {
	flex: 1 0 auto;
}

nav {
	@extend %secondary-colors;
}
nav .brand-logo {
	@extend %secondary-colors;
}

nav ul a {
	@extend %secondary-colors;
}

.page-footer {
	background: $color-secondary-2-4;
	color: $white-alpha-80;
}

.large-icon {
	font-size: 48px !important;
	color: $white-alpha-75;
}

.hidden {
	display: none !important;
}

.card {
	background: $black-alpha-50 !important;
}

.post-title {
	color: $color-secondary-2-3;
	font-size: 1.85rem !important;
	font-weight: 400 !important;
}

.post-header {
	display: flex;
	flex-direction: row;
}

.read-more {
	color: $color-secondary-2-3;
}

.pagination li a {
	color: $color-secondary-2-4;
}

.pagination li a[class='selected'] {
	color: $color-secondary-1-1;
}

.pager {
	display: flex;
	justify-content: center;
}

p {
	padding-bottom: 10px;
}

.btn-primary {
	background-color: $color-secondary-1-2;
}

.btn-primary:hover {
	background-color: lighten($color-secondary-1-2, 5%);
}
