@import '_variables';
@import '_spacing';

body {
	@extend %primary-colors;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

nav {
	@extend %secondary-colors;
}

.page-footer {
	@extend %secondary-colors;
}

.large-icon {
	font-size: 48px !important;
	color: rgba(0, 0, 0, 0.5);
}

.hidden {
	display: none !important;
}
