@using Webpack

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlueRaven.Web</title>

    @await Html.WebpackStylesAsync("page-common")
    @RenderSection("styles", required: false)
</head>
<body>

	<nav class="navbar navbar-inverse fixed-top navbar-expand-md">
		<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">BlueRaven.Web</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
					<li class="nav-link"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
					<li class="nav-link"><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
					<li class="nav-link"><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
			</ul>
			<partial name="_LoginPartial" />
		</div>
	</nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
    </div>
	<div  class="fixed-bottom">
		<hr />
		<footer>
			<p>&copy; 2018 - BlueRaven.Web</p>
		</footer>
	</div>

	@await Html.WebpackScriptsAsync("page-common")
    @RenderSection("Scripts", required: false)
</body>
</html>
