@using Microsoft.AspNetCore.Http.Features
@using BlueRaven.Web.Models;

@model BlogModel

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}


<div class="container">
	<nav id="siteNav" class="@(showBanner ? "hidden" : "")">
		<div class="nav-wrapper">
			<a asp-area="" asp-controller="Home" asp-action="Index" class="brand-logo ml25">@Model.Blog.Title</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
				<li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
				<li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
				<partial name="_LoginPartial" />
			</ul>
		</div>
	</nav>
@if (showBanner)
{
	<!-- <div class="navbar-fixed"> -->
		<nav id="cookieConsent">
			<div class="nav-wrapper">
				<span class="brand-logo ml15"><i class="material-icons large-icon">info_outline</i></span>	
				<ul class="right">
					<li><span>Use this space to summarize your privacy and cookie use policy.</span></li>
					<li><a asp-controller="Home" asp-action="Privacy" class="btn">Learn More</a></li>
					<li><button type="button" class="btn mr15" data-cookie-string="@cookieString">Accept</button></li>
				</ul>
			</div>
		</nav>
	<!-- </div> -->

    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
				document.querySelector("#siteNav").classList.remove("hidden");
            }, false);
        })();
    </script>
}
</div>